{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "@theme": "./src/theme"
        },
        "extensions": [
          ".js",
          ".ts",
          ".tsx",
          ".json"
        ]
      }
    ]
  ]
}