@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

body {
	background-color: white;
	margin: 0;
  padding: 0;
}

* {
	font-family: "Poppins", sans-serif;
}
