@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

body {
	background-color: white;
	font-family: "Poppins", sans-serif;
}

:root {
	--lightGray: #f9f9ff;
	--lightBlue: #90acd1;
	--lightPink: #e2a599;
	--lightBrown: #715f69;
	--lightOrange: #e45447;
	--green: #49b675;
	--gray: #c1bdbe;
	--blue: #0036b2;
}

